h1 {
  padding: 20px;
  padding-top: 40px;
}

.App {
  text-align: center;
}

.output {
  color: white;
  text-align: left;
  padding: 40px;
  font: 1.2rem Inconsolata, monospace;
}

.erroringCode {
  color: red;
  text-align: left;
  padding: 40px;
  font: 1.2rem Inconsolata, monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Parent {
  display: flex;
  flex-direction: row;
}

.child1 {
  width: 50%;
  height: 100vh;
  text-align: center;
}

.child2 {
  width: 50%;
  height: 100vh;
}
